In [1]:
# Dependencies
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey

In [2]:
types_df = pd.read_csv("../Resources/ethnic_restr.csv")
types_df.head()

  ethnicity
0   chinese
1     cuban
2     czech
3    french
4    german

In [3]:
# set up additional columns to hold information
types_df['name'] = ""
types_df['address'] = ""
types_df['price_level'] = ""
types_df['rating'] = ""

types_df.head()

  ethnicity name address price_level rating
0   chinese
1     cuban
2     czech
3    french
4    german

In [12]:
# Find the closest restaurant to the coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# enter long&lat for desired city (this is San Francisco)
location = "37.78797,-122.43367"

params = {
    "location": location,  
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}

In [13]:
# For loop to cycle through the restaruant ethnicity
for index, row in types_df.iterrows():
    # pull restaurant type and add to params 
    restr_type = row['ethnicity']
    params['keyword'] = restr_type
    
    # make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    results = response['results']
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: chinese.
Closest chinese restaurant is Panda Express.
------------
Retrieving Results for Index 1: cuban.
Closest cuban restaurant is Artesano.
------------
Retrieving Results for Index 2: czech.
Closest czech restaurant is Cafe Europa.
------------
Retrieving Results for Index 3: french.
Closest french restaurant is Florio Bar & Cafe.
------------
Retrieving Results for Index 4: german.
Closest german restaurant is Matterhorn Restaurant and Bakery.
Missing field/result... skipping.
------------
Retrieving Results for Index 5: greek.
Closest greek restaurant is Noosh.
Missing field/result... skipping.
------------
Retrieving Results for Index 6: haitian.
Closest haitian restaurant is Chouquet's.
------------
Retrieving Results for Index 7: hungarian.
Closest hungarian restaurant is Noosh.
Missing field/result... skipping.
------------
Retrieving Results for Index 8: indian.
Closest indian restaurant is Shalimar Restaurant.
------------
Retrieving Results for Index 9: indonesian.
Closest indonesian restaurant is Jitlada Thai Cuisine.
------------
Retrieving Results for Index 10: irish.
Closest irish restaurant is The Pig and Whistle.
------------
Retrieving Results for Index 11: israeli.
Closest israeli restaurant is Noosh.
Missing field/result... skipping.
------------
Retrieving Results for Index 12: italian.
Closest italian restaurant is Florio Bar & Cafe.
------------
Retrieving Results for Index 13: japanese.
Closest japanese restaurant is Glaze Teriyaki.
------------
Retrieving Results for Index 14: jewish.
Closest jewish restaurant is Wise Sons Jewish Deli.
------------
Retrieving Results for Index 15: korean.
Closest korean restaurant is Doobu.
------------
Retrieving Results for Index 16: lebanese.
Closest lebanese restaurant is Noosh.
Missing field/result... skipping.
------------
Retrieving Results for Index 17: mexican.
Closest mexican restaurant is TacoBar.
------------
Retrieving Results for Index 18: new american.
Closest new american restaurant is Roam Artisan Burgers.
------------
Retrieving Results for Index 19: pakistani.
Closest pakistani restaurant is Marhaba halal restaurant.
------------
Retrieving Results for Index 20: polish.
Closest polish restaurant is Proposition Chicken.
Missing field/result... skipping.
------------
Retrieving Results for Index 21: russian.
Closest russian restaurant is Cafe RÃ©veille.
Missing field/result... skipping.
------------
Retrieving Results for Index 22: scandinavian.
Closest scandinavian restaurant is Kantine.
------------
Retrieving Results for Index 23: scottish.
Closest scottish restaurant is The Anchovy Bar.
Missing field/result... skipping.
------------
Retrieving Results for Index 24: soul food.
Closest soul food restaurant is Brenda's Meat & Three.
------------
Retrieving Results for Index 25: spanish.
Closest spanish restaurant is El Lopo.
------------
Retrieving Results for Index 26: thai.
Closest thai restaurant is Sweet Lime Thai Cuisine.
------------
Retrieving Results for Index 27: turkish.
Closest turkish restaurant is Noosh.
Missing field/result... skipping.
------------
Retrieving Results for Index 28: ukrainian.
Closest ukrainian restaurant is La Mediterranee.
------------
Retrieving Results for Index 29: vietnamese.
Closest vietnamese restaurant is Bun Mee.
------------

In [14]:
types_df.head()

,ethnicity,name,address,price_level,rating
0,chinese,Panda Express,"1480 Fillmore St, San Francisco",1,3.7
1,cuban,Artesano,"3415 California St, San Francisco",2,4.4
2,czech,Cafe Europa,"4318 California St, San Francisco",2,4.6
3,french,Florio Bar & Cafe,"1915 Fillmore St, San Francisco",2,4.3
4,german,Matterhorn Restaurant and Bakery,"2323 Van Ness Ave, San Francisco",2,4.7